.button {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0.5em 5em;
  background-color: @base-color;
  color: #ffffff;
  margin-bottom: 10px;
  align-items: center;
  display: inline-block;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 1em 2em;
  }
}
