.catalog {
  font-size: 12px;
  line-height: 16px;
  margin: 0 20px 25px 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px 70px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px 75px 110px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.catalog__product-wrapper {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.catalog__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 25px 0 40px 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 65px 0 80px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 75px 0 85px 110px;
  }
}

.catalog__product-name {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}

.catalog__info-table {
  font-size: 16px;
  line-height: 16px;
}

.catalog__present-image {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: linear-gradient(rgba(105, 183, 56, 85%), rgba(105, 183, 56, 85%));

  @media (min-width: @desktop-width) {
    width: 707px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 26px;
    height: auto;
  }
}
