.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    margin: 45px 30px 100px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.example__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 145px;
  }
}

.example__text {
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__stats-number {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-description {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__noize {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
