.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    padding: 45px 30px 100px;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.example__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 145px;
  }
}

.example__text {
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    max-width: 440px;
  }
}

.example__stats-list {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  margin: 0 0 20px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }
}

.example__stats-item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__stats-number {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 17px -10px 17px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    margin: 0 23px -10px 23px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    background-color: #eaeaea;
  }
}

.example__noize {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-top: -60px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin: 55px 0 75px;
    padding: 0;
  }
}
