.form {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

.form__container {
  margin: 30px 20px;

  @media (min-width: @tablet-width) {
    margin: 50px 70px 80px;
  }

  @media (min-width: @desktop-width) {
    margin: 70px 110px 90px;
  }
}

.form__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    column-gap: 80px;
  }
}

.form__title-main {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 35px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 55px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 40px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 65px;
  }
}

.form__form-cat {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 9px;

  @media (min-width: @tablet-width) {
    gap: 20px;
  }
}

.form__name-label {
  text-transform: uppercase;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.form__field::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 20px;
}

.form__field {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  border: 1px solid #e7e7e7;
  padding: 12px 0 12px 20px;
  margin-left: 13px;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    padding: 10px 0 10px 15px;
    font-size: 20px;
    margin-left: 21px;
  }
}

.form__field::placeholder {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.form__field:hover {
  border: 1px solid #cdcdcd;
}

.form__field:focus {
  border: 1px solid #e7e7e7;
  border-radius: 0;
}

.form__field:disabled {
  border: 1px solid #e7e7e7;
}

.form__information-cat {
  padding: 0;
  border: none;
  padding-top: 19px;
  padding-bottom: 20px;
  margin: 22px 0 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 25px 0 25px 30px;
    margin: 72px 0 42px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 30px;
  }
}

.form__form-human {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    gap: 22px;
    margin-top: 46px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    column-gap: 80px;
  }
}

.form__more {
  border: none;
  padding: 0;
  margin: 13px 0 33px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    column-gap: 60px;
    row-gap: 23px;
    margin: 22px 0 47px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 24px 0 53px;
  }
}

.form__item {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-bottom: 7px;
  padding-top: 7px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 7px;
  }
}

.form__item:disabled {
  opacity: 0.3;
}

.form__box {
  position: absolute;
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  left: 0;
  top: 2px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__box:hover {
  outline: 1px solid #bababa;
}

.form__item:active {
  opacity: 0.3;
}

.box-check[type="radio"] + .form__box {
  border-radius: 50%;
}

.box-check[type="checkbox"]:checked + .form__box::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/form-tick.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 7px;
  left: 5px;

  @media (min-width: @tablet-width) {
    content: "";
    width: 24px;
    height: 19px;
    top: 10px;
    left: 8px;
  }
}

.box-check[type="radio"]:checked + .form__box::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: @base-color;
  border-radius: 50%;
  top: 8.5px;
  left: 8.5px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}

.form__comment {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
  width: 263px;
  height: 139px;
  padding: 10px 0 0 15px;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 609px;
    height: 163px;
    padding: 10px 0 0 15px;
    margin-top: 47px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    width: 1203px;
    height: 168px;
    padding: 16px 0 0 18px;
    margin-bottom: 27px;
  }
}

.obligatory {
  font-family: "Lato", "Arial", sans-serif;
  display: block;
  text-align: center;
  color: #000000;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    text-align: start;
    margin-top: -44px;
    margin-left: 340px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 650px;
  }
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;/* stylelint-disable-line*/
}
