.logo {
  position: relative;
  background-image: url("../img/logo-mobile-pic.svg"), url("../img/logo-mobile-text.svg");
  background-repeat: no-repeat;
  background-position: left center, center;
  content: "";
  width: calc(100% - 64px);
  height: 40px;
  top: 14px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    content: "";
    width: 175px;
    height: 52px;
    margin-top: 25px;
    margin-left: 0;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
    content: "";
    width: 202px;
    height: 60px;
    margin-top: 55px;
  }
}

.footer-logo {
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 128px;
  height: 24px;
  padding-top: 23px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.footer-social--copyright:hover {
  opacity: 0.8;
}

.footer-social--copyright:active {
  opacity: 0.6;
}
