.catalog__product-wrapper {
  border-top: 1px solid #ebebeb;
  padding: 20px 20px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    border: none;
  }
}

.catalog__image-small {
  display: block;
  height: auto;
  margin-right: 36px;

  @media (min-width: @tablet-width) {
    width: 163px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -65px;
  }
}

.catalog__image-big {
  display: block;
  height: auto;
  margin-right: 28px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: auto;
  }
}

.catalog__info-product {
  padding-bottom: 22px;
  width: 140px;

  @media (min-width: @tablet-width) {
    padding-bottom: 33px;
    width: 250px;
  }
}

.catalog__product-name {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 20px;
  margin: 0;
  text-align: left;

  &--more {
    padding-bottom: 13px;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: auto;
    text-align: center;
  }
}

.catalog__info-table {
  font-size: 16px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__info-table td {
  @media (min-width: @tablet-width) {
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__info-table td:nth-child(2n) {
  text-align: end;
}
