.work {
  margin: 10px 20px 50px;

  @media (min-width: @tablet-width) {
    margin: 15px 30px 90px;
  }

  @media (min-width: @desktop-width) {
    margin: 70px 110px;
  }
}

.work__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 40px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 70px;
  }
}

.work__list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding-left: 80px;
  counter-reset: work;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 140px;
    row-gap: 40px;
    font-size: 16px;
    line-height: 24px;
  }
}

.work__item {
  max-width: 250px;
}

.work__item:not(:last-child) {
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .work__item::after {
    counter-increment: work;
    content: counters(work, ".", decimal) "";
    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 280px;
    width: 120px;
    position: absolute;
    color: #f2f2f2;
    z-index: -1;
  }
}

.work__item::before {
  position: absolute;
  background-color: @base-color;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  content: "";
  left: 0;
  background-position: center;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.work__item--one::before {
  background-image: url("../img/work-one.svg");
}

.work__item--two::before {
  background-image: url("../img/work-two.svg");
}

.work__item--three::before {
  background-image: url("../img/work-three.svg");
}

.work__item--four::before {
  background-image: url("../img/work-four.svg");
}
