.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media (min-width: 767px) {
  .footer {
    flex-direction: row;
    padding: 60px 30px 55px;
    justify-content: space-between;
  }
}
.footer-social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 767px) {
  .footer-social {
    width: 132px;
    border: none;
    padding: 0;
  }
}
.footer-social__copyright-link {
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
}
@media (min-width: 767px) {
  .footer-social__copyright-link {
    padding: 0;
  }
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff"), url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff"), url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
.page {
  height: 100%;
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  min-height: 66px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 767px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 1220px) {
  .nav {
    margin-left: 110px;
    margin-right: 110px;
  }
}
.nav__toggle {
  position: absolute;
  width: 25px;
  height: 16px;
  top: 25px;
  right: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
@media (min-width: 767px) {
  .nav__toggle {
    display: none;
  }
}
.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.nav--opened .nav__toggle {
  top: 25px;
  right: 20px;
}
.nav--opened .nav__toggle::before,
.nav--opened .nav__toggle::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.nav--opened .nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.nav--opened .nav__toggle::after {
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .nav--closed .nav__list {
    display: none;
  }
  .nav--closed .logo {
    display: block;
  }
  .nav--opened .nav__list {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
  .nav--opened .nav__link {
    text-align: center;
    width: 100vw;
  }
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
}
@media (min-width: 767px) {
  .nav__list {
    font-weight: 400;
    flex-direction: row;
    align-items: center;
    column-gap: 35px;
    margin-top: 20px;
  }
}
@media (min-width: 1220px) {
  .nav__list--index {
    color: #ffffff;
  }
}
.nav__link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 22px 0 24px 0;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 767px) {
  .nav__link {
    border-bottom: none;
  }
  .nav__link--active {
    position: relative;
    color: #000000;
    text-decoration: none;
  }
  .nav__link--active::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1220px) {
  .nav__link {
    color: #ffffff;
  }
  .nav__link--active::after {
    background-color: #ffffff;
  }
}
.promo {
  position: relative;
}
@media (min-width: 767px) {
  .promo {
    margin-left: 120px;
  }
}
@media (min-width: 1220px) {
  .promo {
    margin-left: 190px;
  }
}
.promo__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 25px 0;
}
@media (min-width: 767px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    padding: 60px 0 40px;
  }
}
@media (min-width: 1220px) {
  .promo__title {
    padding-top: 110px;
  }
}
.promo__text {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
@media (min-width: 767px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: start;
    padding-bottom: 50px;
  }
}
.promo__image-product {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 767px) {
  .promo__image-product {
    width: 709px;
    height: auto;
    margin-top: -30px;
  }
}
@media (min-width: 1220px) {
  .promo__image-product {
    width: 552px;
    height: auto;
    margin-top: -295px;
  }
}
.promo-img::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/promo-background-img.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 302px;
  background-size: cover;
  z-index: -1;
  top: 0;
}
@media (min-width: 767px) {
  .promo-img::before {
    display: none;
  }
}
@media (min-width: 1220px) {
  .promo-img::before {
    display: block;
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/promo-background-img-desktop.jpg");
    background-repeat: no-repeat;
    content: "";
    width: 50%;
    min-height: 694px;
    background-size: cover;
    z-index: -1;
    top: -85px;
    left: 50%;
  }
}
.button {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 7px 70px;
  background-color: #68b738;
  color: #ffffff;
  cursor: pointer;
  border: none;
  display: flex;
  margin: 0 20px 0;
  justify-content: center;
}
.button--product-more {
  background-color: #f2f2f2;
  color: #444444;
}
@media (min-width: 767px) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    margin: 0;
    display: inline;
  }
}
.button--form {
  margin: 0;
}
@media (min-width: 767px) {
  .button--form {
    padding: 13px 45px;
  }
}
@media (min-width: 1220px) {
  .button--form {
    padding: 13px 188px;
  }
}
.button--catalog {
  margin: 0;
}
@media (min-width: 767px) {
  .button--catalog {
    padding: 10px 93px;
  }
}
@media (min-width: 1220px) {
  .button--catalog {
    padding: 10px 53px;
  }
}
.advantages {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0;
}
@media (min-width: 767px) {
  .advantages {
    margin: 30px 30px 0;
  }
}
@media (min-width: 1220px) {
  .advantages {
    flex-direction: row;
    column-gap: 80px;
    justify-content: center;
    margin-top: 140px;
  }
}
.advantages__wrapper {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 767px) {
  .advantages__wrapper {
    margin-bottom: 30px;
  }
}
@media (min-width: 1220px) {
  .advantages__wrapper {
    min-width: 570px;
  }
}
.advantages__wrapper--slim::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/advantages-cat-slim.svg");
  background-size: cover;
  width: 50px;
  height: 53px;
  top: 24px;
  left: 22px;
}
@media (min-width: 767px) {
  .advantages__wrapper--slim::before {
    width: 200px;
    height: 211px;
    top: 80px;
    left: 465px;
  }
}
@media (min-width: 1220px) {
  .advantages__wrapper--slim::before {
    width: 100px;
    height: 106px;
    top: 40px;
    left: 50px;
  }
}
.advantages__wrapper--pro::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/advantages-cat-pro.svg");
  background-size: cover;
  width: 68px;
  height: 50px;
  top: 24px;
  left: 13px;
}
@media (min-width: 767px) {
  .advantages__wrapper--pro::before {
    width: 269px;
    height: 200px;
    top: 90px;
    left: 410px;
  }
}
@media (min-width: 1220px) {
  .advantages__wrapper--pro::before {
    width: 135px;
    height: 100px;
    top: 45px;
    left: 33px;
  }
}
.advantages__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 30px 80px 30px 90px;
}
@media (min-width: 767px) {
  .advantages__title {
    font-size: 36px;
    line-height: 36px;
    padding: 75px 0 25px 50px;
  }
}
@media (min-width: 1220px) {
  .advantages__title {
    padding: 80px 0 70px 215px;
  }
}
.advantages__text {
  margin: 0 30px 0 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 767px) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
    max-width: 340px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin: 0;
  }
}
@media (min-width: 1220px) {
  .advantages__text {
    padding-bottom: 23px;
    padding-left: 52px;
    max-width: 450px;
  }
}
.advantages__link {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 15px 0 18px 20px;
  position: relative;
  cursor: pointer;
}
@media (min-width: 767px) {
  .advantages__link {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 52px;
    padding-left: 50px;
  }
}
.advantages__link::before {
  position: absolute;
  content: "";
  background-image: url("../img/advantages-arrow.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  top: 17px;
  left: 115px;
}
@media (min-width: 767px) {
  .advantages__link::before {
    top: 25px;
    left: 175px;
  }
}
.work {
  margin: 10px 20px 50px;
}
@media (min-width: 767px) {
  .work {
    margin: 15px 30px 150px;
  }
}
@media (min-width: 1220px) {
  .work {
    margin: 70px 110px 130px;
  }
}
.work__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 40px;
  margin: 0;
}
@media (min-width: 767px) {
  .work__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 70px;
  }
}
.work__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  counter-reset: work;
}
@media (min-width: 767px) {
  .work__list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    row-gap: 140px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1220px) {
  .work__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}
.work__item {
  position: relative;
  display: flex;
  gap: 20px;
}
@media (min-width: 767px) {
  .work__item {
    flex-direction: column;
  }
}
@media (min-width: 1220px) {
  .work__item {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .work__item:not(:last-child) {
    padding-bottom: 25px;
  }
}
@media (min-width: 767px) {
  .work__item::after {
    counter-increment: work;
    content: counters(work, ".", decimal) "";
    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 280px;
    width: 120px;
    position: absolute;
    color: #f2f2f2;
    z-index: -1;
    right: 35px;
    top: 90px;
  }
}
@media (min-width: 1220px) {
  .work__item::after {
    right: 0;
  }
}
.work__item::before {
  display: inline-block;
  background-color: #68b738;
  background-repeat: no-repeat;
  min-width: 60px;
  height: 60px;
  content: "";
  left: 0;
  background-position: center;
}
@media (min-width: 767px) {
  .work__item::before {
    max-width: 80px;
    height: 80px;
  }
}
.work__item--one::before {
  background-image: url("../img/work-one.svg");
}
.work__item--two::before {
  background-image: url("../img/work-two.svg");
}
.work__item--three::before {
  background-image: url("../img/work-three.svg");
}
.work__item--four::before {
  background-image: url("../img/work-four.svg");
}
.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
  position: relative;
}
@media (min-width: 767px) {
  .example {
    background-color: #ffffff;
    padding: 45px 30px 100px;
    border-top: 1px solid #e6e6e6;
  }
}
@media (min-width: 1220px) {
  .example {
    margin-left: 110px;
    border: none;
  }
}
.example__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding-bottom: 40px;
}
@media (min-width: 767px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1220px) {
  .example__title {
    padding-bottom: 145px;
  }
}
.example__text {
  margin: 0;
  padding-bottom: 20px;
}
@media (min-width: 767px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1220px) {
  .example__text {
    max-width: 440px;
  }
}
.example__stats-list {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  margin: 0 0 20px;
}
@media (min-width: 767px) {
  .example__stats-list {
    justify-content: flex-start;
  }
}
.example__stats-item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.example__stats-number {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
}
@media (min-width: 767px) {
  .example__stats-number {
    font-size: 30px;
    line-height: 37px;
  }
}
.example__stats-description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 17px -10px 17px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #eaeaea;
}
@media (min-width: 767px) {
  .example__stats-description {
    font-size: 14px;
    line-height: 14px;
    margin: 0 23px -10px 23px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
  }
}
@media (min-width: 1220px) {
  .example__stats-description {
    background-color: #eaeaea;
  }
}
.example__noize {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 20px;
}
@media (min-width: 767px) {
  .example__noize {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-top: -60px;
  }
}
@media (min-width: 1220px) {
  .example__noize {
    text-align: left;
    margin: 55px 0 75px;
    padding: 0;
  }
}
.map {
  position: relative;
}
.map__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 767px) {
  .map__wrapper {
    padding: 60px 70px 55px;
  }
}
@media (min-width: 1220px) {
  .map__wrapper {
    position: absolute;
    background-color: #ffffff;
    padding: 55px 80px;
    top: 95px;
    left: 110px;
  }
}
.map__wrapper--index {
  background-color: #ffffff;
}
.map__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
@media (min-width: 767px) {
  .map__title {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1220px) {
  .map__title {
    max-width: 170px;
    padding-right: 55px;
  }
}
.map__address {
  line-height: 20px;
  font-style: normal;
}
@media (min-width: 767px) {
  .map__address {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    max-width: 160px;
  }
}
@media (min-width: 1220px) {
  .map__address {
    text-align: left;
  }
}
.map iframe {
  width: 100%;
  min-height: 362px;
  max-height: 400px;
  border: none;
}
.logo {
  position: relative;
  background-image: url("../img/logo-mobile-pic.svg"), url("../img/logo-mobile-text.svg");
  background-repeat: no-repeat;
  background-position: left center, center;
  display: block;
  content: "";
  width: calc(100% - 40px);
  height: 38px;
  top: 10px;
}
.logo--footer {
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 128px;
  height: 24px;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (min-width: 767px) {
  .logo--footer {
    padding: 0;
  }
}
@media (min-width: 767px) {
  .logo {
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    content: "";
    width: 175px;
    height: 52px;
    margin-top: 24px;
    top: 0;
  }
}
@media (min-width: 1220px) {
  .logo {
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
    content: "";
    width: 202px;
    height: 60px;
  }
}
.form {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
}
@media (min-width: 767px) {
  .form {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}
.form__conteiner {
  margin: 30px 20px;
}
@media (min-width: 767px) {
  .form__conteiner {
    margin: 65px 70px 70px;
  }
}
@media (min-width: 1220px) {
  .form__conteiner {
    margin: 75px 110px 80px;
  }
}
@media (min-width: 1220px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 70px;
  }
}
.form__title-main {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 35px;
  margin: 0;
}
@media (min-width: 767px) {
  .form__title-main {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 55px;
  }
}
.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 40px;
  margin: 0;
}
@media (min-width: 767px) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 65px;
  }
}
.form__form-cat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.form__name-label {
  text-transform: uppercase;
}
.form__field {
  border: 1px solid #e7e7e7;
  padding: 14px 0 14px 20px;
  margin-bottom: 14px;
  margin-left: 13px;
}
@media (min-width: 767px) {
  .form__field {
    padding: 15px 0 15px 20px;
    margin-bottom: 20px;
  }
}
.form__field::placeholder {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .form__field::placeholder {
    font-size: 20px;
  }
}
.form__information-cat {
  padding: 0;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 25px 0 25px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
@media (min-width: 767px) {
  .form__information-cat {
    border: 1px solid #d9d9d9;
    padding: 25px 0 25px 30px;
    margin: 72px 0 75px;
  }
}
@media (min-width: 1220px) {
  .form__information-cat {
    margin: 0;
    padding: 30px;
  }
}
.form__form-human {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1220px) {
  .form__form-human {
    flex-direction: row;
    column-gap: 80px;
  }
}
.form__more {
  border: none;
  padding: 0;
  margin: 35px 0 35px;
}
@media (min-width: 767px) {
  .form__more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
}
@media (min-width: 1220px) {
  .form__more {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.form__item {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-bottom: 7px;
  padding-top: 7px;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .form__item {
    padding-left: 60px;
  }
}
.form__item:not(:last-child) {
  margin-bottom: 13px;
}
.form__box {
  position: absolute;
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  left: 0;
  top: 2px;
}
@media (min-width: 767px) {
  .form__box {
    width: 40px;
    height: 40px;
  }
}
.box-check[type="radio"] + .form__box {
  border-radius: 50%;
}
.box-check[type="checkbox"]:checked + .form__box::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/form-tick.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 7px;
  left: 5px;
}
@media (min-width: 767px) {
  .box-check[type="checkbox"]:checked + .form__box::before {
    content: "";
    width: 24px;
    height: 19px;
    top: 10px;
    left: 8px;
  }
}
.box-check[type="radio"]:checked + .form__box::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  top: 8.5px;
  left: 8.5px;
}
@media (min-width: 767px) {
  .box-check[type="radio"]:checked + .form__box::before {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}
.form__comment {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0 0 15px;
}
@media (min-width: 767px) {
  .form__comment {
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
  }
}
.obligatory {
  font-family: "Lato", "Arial", sans-serif;
  display: block;
  text-align: center;
  color: #000000;
  padding-top: 20px;
}
@media (min-width: 767px) {
  .obligatory {
    padding: 0;
    text-align: start;
    margin-top: -40px;
    margin-left: 330px;
  }
}
@media (min-width: 1220px) {
  .obligatory {
    margin-left: 650px;
  }
}
.line__conteiner {
  position: relative;
}
@media (min-width: 767px) {
  .line__conteiner--catalog {
    margin-left: 70px;
  }
}
@media (min-width: 1220px) {
  .line__conteiner--catalog {
    margin-left: 110px;
  }
}
.line__conteiner::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 55%;
  z-index: -1;
}
@media (min-width: 767px) {
  .line__conteiner::before {
    margin-left: -70px;
  }
}
@media (min-width: 1220px) {
  .line__conteiner::before {
    margin-left: -110px;
  }
}
.line__title-wrapper {
  margin: 0 auto;
}
.line__title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding: 0 40px;
  background-color: #ffffff;
  margin-left: -40px;
  display: inline-block;
}
@media (min-width: 767px) {
  .line__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.catalog {
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 767px) {
  .catalog {
    margin: 0 30px 70px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
  }
}
@media (min-width: 1220px) {
  .catalog {
    margin: 0 110px 75px 110px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}
.catalog__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 25px 0 40px 20px;
}
@media (min-width: 767px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding: 65px 0 80px 30px;
  }
}
@media (min-width: 1220px) {
  .catalog__title {
    padding: 75px 0 85px 110px;
  }
}
.catalog__product-more {
  text-align: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 25px 0 25px;
  position: relative;
}
@media (min-width: 767px) {
  .catalog__product-more {
    padding: 50px 0 40px;
    border: 2px solid #f2f2f2;
  }
}
.catalog__product-more::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 35px;
}
@media (min-width: 767px) {
  .catalog__product-more::before {
    width: 60px;
    top: 50px;
  }
}
.catalog__product-more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
  top: 35px;
}
@media (min-width: 767px) {
  .catalog__product-more::after {
    width: 60px;
    top: 50px;
  }
}
.catalog__product-more-show {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 50px;
}
@media (min-width: 767px) {
  .catalog__product-more-show {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 23px;
    padding-top: 110px;
  }
}
.catalog__product-more-text {
  margin: 0;
  padding-bottom: 20px;
}
@media (min-width: 767px) {
  .catalog__product-more-text {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 85px;
  }
}
.catalog__more-conteiner {
  margin: 0 20px;
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 19px;
}
@media (min-width: 767px) {
  .catalog__more-conteiner {
    border: 1px solid #cdcdcd;
    margin: 0 30px;
    padding: 26px 35px 28px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (min-width: 1220px) {
  .catalog__more-conteiner {
    border: none;
    margin: 0 110px;
    padding: 15px 0 17px;
    border-top: 1px solid #cdcdcd;
    flex-direction: row;
    justify-content: space-between;
  }
}
.catalog__product-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-bottom: 15px;
}
@media (min-width: 767px) {
  .catalog__product-item {
    align-items: baseline;
    padding: 0;
  }
}
@media (min-width: 1220px) {
  .catalog__product-item {
    width: 70%;
  }
}
.catalog__product-item li {
  font-size: 16px;
  line-height: 20px;
}
.catalog__present {
  position: relative;
  margin: 35px 20px;
}
@media (min-width: 767px) {
  .catalog__present {
    margin: 70px 30px 75px;
  }
}
.catalog__present-image {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1220px) {
  .catalog__present-image {
    width: 707px;
    height: auto;
  }
}
@media (min-width: 1220px) {
  .catalog__present-image {
    width: 245px;
    height: auto;
  }
}
.catalog__product-wrapper {
  border-top: 1px solid #ebebeb;
  padding: 20px 20px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
@media (min-width: 767px) {
  .catalog__product-wrapper {
    background-color: #f2f2f2;
    border: none;
  }
}
.catalog__image-small {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 767px) {
  .catalog__image-small {
    width: 163px;
    height: auto;
  }
}
.catalog__image-big {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 767px) {
  .catalog__image-big {
    width: 168px;
    height: auto;
  }
}
@media (min-width: 1220px) {
  .catalog__image-big {
    width: 172px;
    height: auto;
  }
}
.catalog__info-product {
  padding-bottom: 22px;
  width: 140px;
}
@media (min-width: 767px) {
  .catalog__info-product {
    padding-bottom: 33px;
  }
}
.catalog__product-name {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 20px;
  margin: 0;
}
.catalog__product-name--more {
  padding-bottom: 13px;
  width: 100%;
}
@media (min-width: 767px) {
  .catalog__product-name {
    font-size: 20px;
    line-height: 24px;
    width: auto;
  }
}
.catalog__info-table {
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 767px) {
  .catalog__info-table {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 767px) {
  .catalog__info-table td {
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.catalog__info-table td:nth-child(2n) {
  text-align: end;
}
/*# sourceMappingURL=style.css.map */
