.header {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main__nav__button-toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 35px;
  }
}

.main__nav__link {
  list-style-type: none;
  color: #000000;
  text-decoration: none;
  padding: 22px 0 24px;

  @media (min-width: @desktop-width) {
    color: #ffffff;
    font-weight: 400;
  }
}

.logo {
  background-image: url("../img/logo-mobile-pic.svg");
  font-size: 0;
  background-repeat: no-repeat;
  content: "";
  width: 34px;
  height: 38px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    content: "";
    width: 175px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
    content: "";
    width: 202px;
    height: 60px;
  }
}
