.header {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .main__nav__button-toggle {
    display: none;
  }
}
.main__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 767px) {
  .main__nav__list {
    font-weight: 400;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 35px;
  }
}
.main__nav__link {
  list-style-type: none;
  color: #000000;
  text-decoration: none;
  padding: 22px 0 24px;
}
@media (min-width: 1220px) {
  .main__nav__link {
    color: #ffffff;
    font-weight: 400;
  }
}
.logo {
  background-image: url("../img/logo-mobile-pic.svg");
  font-size: 0;
  background-repeat: no-repeat;
  content: "";
  width: 34px;
  height: 38px;
}
@media (min-width: 767px) {
  .logo {
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    content: "";
    width: 175px;
    height: 52px;
  }
}
@media (min-width: 1220px) {
  .logo {
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
    content: "";
    width: 202px;
    height: 60px;
  }
}
.main {
  background-color: #ffffff;
}
.footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff"), url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff"), url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
.page {
  height: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.promo__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 767px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
  }
}
.promo__text {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 767px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: start;
  }
}
.button {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0.5em 5em;
  background-color: #68b738;
  color: #ffffff;
}
@media (min-width: 767px) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding: 1em 2em;
  }
}
.advantages {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1220px) {
  .advantages {
    flex-direction: row;
  }
}
.advantages__wrapper {
  background-color: #d9d9d9;
}
.advantages__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 767px) {
  .advantages__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 767px) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
.advantages__link {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 767px) {
  .advantages__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.work__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 767px) {
  .work__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.work__list {
  list-style-type: none;
}
@media (min-width: 767px) {
  .work__list {
    list-style-type: auto;
    font-size: 16px;
    line-height: 24px;
  }
}
.example {
  background-color: #eaeaea;
  width: 100%;
}
.example__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 767px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 767px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.stats__number {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 767px) {
  .stats__number {
    font-size: 30px;
    line-height: 37px;
  }
}
.stats__description {
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 767px) {
  .stats__description {
    font-size: 14px;
    line-height: 14px;
  }
}
.map__wrapper {
  display: flex;
  justify-content: space-between;
}
.map__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 767px) {
  .map__title {
    font-size: 20px;
    line-height: 26px;
  }
}
.map__address {
  line-height: 20px;
  font-style: normal;
}
@media (min-width: 767px) {
  .map__address {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1220px) {
  .map__address {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */
